.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo{
    width: max(11%, 85px);
}

.navbar .profile{
    width: 40px;

}


@media (max-width:1200px){
    .navbar .logo{
        width: 110px;
        height: 35px;
    }
}

@media (max-width:1200px){
    .navbar .logo{
        width: 115px;
        height: 35px;
    }
}

@media (max-width:900px){
    .navbar .logo{
        width: 115px;
        height: 35px;
    }
}